html, body {
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;

}

footer
{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.article
{
    margin-top: 30px;
}

.admin-table
{
    width: 100%;
    
}

.header
{
    margin-top: 10px;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px ;
}

.header ul
{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.header ul li
{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    list-style: none;
    padding: 0 15px;
}

.nameb
{
    font-size: 30px;
}

.name_s
{
    text-align: right;
}

.form-g
{
    display: inline;
    width: 100%;
}

.form-item {
    width: 100%;
}

input[type="submit"] {
    width: 100px;
}